*{
  margin:0;
  padding: 0;  
}
header{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}
header logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    margin-left: 13px;
    margin-top: 7px;
}
header .navbar{
   display: flex;
   justify-content: space-between;
   margin-right: 5%;
}
header .navbar a{
    margin: 16px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 13px;

}
header span{
    color: red;
}

header .navbar a:hover{
    color: red;
    font-size: 20px;
}

body.day-mode {
    background-color: #fff;
    color: #000;
  }
  

  body.night-mode {
    background-color: black;
    color: #fff;
  }
  @media (max-width: 768px) {

  }
  footer{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
    padding-bottom: 0;
    margin-top: 10%;
    height: 15vh;
  }
  